@model SkyNet.Models.BusinessModels.EventNode

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>EventNode</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreateTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                <span asp-validation-for="EventId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HasCost" />
                    <label asp-for="HasCost"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPublic" />
                    <label asp-for="IsPublic"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifyTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifyTime" class="form-control" />
                <span asp-validation-for="ModifyTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
